* {
    font-family: Sono;
    background-color: #ffcccc;
    color: white;
    margin: 0;
    padding: 0;
}

h1 {
    font-weight: bold;
    color: #009999;
    align-content: center;
    font-size: 60px;
}

h3 {
    font-weight: bold;
    color: #009999;
    font-size: 30px;
}

h4 {
    font-size: 15px;
    color: black;
    font-weight: bold;
}

.bio {
    border: white;
    border-style: solid;
    width: 450px;
    height: 350px;
    margin: 20px;
}

.story {
    border: white;
    border-style: solid;
    width: 450px;
    height: 350px;
    margin: 20px;
}

img {
    margin-left: 500px;
}

h6 {
    margin-left: 500px;
}

section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav {
    background-color: #f1f1f1;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 10px;
}

nav li a {
    color: #333;
    text-decoration: none;
    padding: 5px;
}

nav li a:hover {
    background-color: #333;
    color: #fff;
}

main {
    padding: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    margin: 10px 0;
    font-size: 16px;
}

label {
    margin-left: 10px;
}

input[type="checkbox"] {
    margin-right: 10px;
}

form {
    margin-top: 20px;
}

input[type="text"] {
    padding: 5px;
    margin-right: 10px;
}

button {
    padding: 5px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}
